@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #28293e;
  padding: 16px 135px 66px 135px;
}
.container .novbar {
  display: flex;
  align-items: center;
}
.container .novbar .logo-box {
  display: flex;
}
.container .novbar .logo-box .logo {
  position: relative;
  background-color: green;
}
.container .novbar .logo-box .logo img {
  width: 48px;
  height: 48px;
}
.container .novbar .logo-box .logo svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.container .novbar h1 {
  margin-left: 14px;
  color: var(--Text_Light, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.container .novbar ul {
  margin-left: 176px;
  display: flex;
}
.container .novbar li a {
  text-decoration: none;
  color: var(--Text_Light, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.container .novbar ul li {
  padding: 30px;
  list-style-type: none;
}
.container .novbar button {
  margin-left: 189px;
  width: 138px;
  height: 48px;
  flex-shrink: 0;
  background-color: #28293e;
}
.container .novbar button .btn a {
  color: #fff;
  text-align: center;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
}
.container .center-text {
  margin-top: 104px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .center-text h1 {
  margin-bottom: 24px;
  color: var(--Text_Light, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
}
.container .center-text p {
  width: 570px;
  height: 66px;
  flex-shrink: 0;
  color: var(--Text_Light_Gray, rgba(255, 255, 255, 0.64));
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* Text */
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}