@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 180px 135px 176px 135px;
  background-color: #28293e;
}
.container main {
  display: flex;
  align-items: center;
}
.container main .img-box .photo {
  position: relative;
  width: 570px;
  height: 448px;
}
.container main .img-box .photo-person {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 477px;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.container main .text-box {
  position: relative;
  margin-left: 130px;
}
.container main .text-box img {
  position: absolute;
  right: 46px;
  top: 53px;
  z-index: 0;
}
.container main .text-box .text-container {
  position: relative;
  z-index: 1;
}
.container main .text-box .text-container h1 {
  color: var(--Text_Light_Accent, #ef6d58);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.container main .text-box .text-container p {
  width: 470px;
  margin-top: 33px;
  color: var(--Text_Light, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 48px;
}
.container main .text-box .text-container h2 {
  margin-top: 44px;
  color: var(--Text_Light, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.container main .text-box .text-container h3 {
  margin-top: 6px;
  color: var(--Text_Light_Gray, rgba(255, 255, 255, 0.64));
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}